<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/super/css/admin.css') }}" type="text/css" media="all" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
